@media screen and (max-width: 400px) {
    * {
      margin: 0;
      padding: 0;
      border: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    header {
      background: linear-gradient(90deg, rgba(151, 157, 172, 1) 0%, rgba(51, 65, 92, 1) 76%, rgba(0, 24, 69, 1) 100%);
      padding: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; /* Allow items to wrap if they exceed the width */
    }
  
    header img {
      width: 40%; /* Adjust image width as needed */
      margin-left: 20px;
    }
  
    .divImgHeader {
      display: flex;
      gap: 5px;
      align-items: center;
      flex-wrap: wrap; /* Allow items to wrap */
    }
  
    .log_news {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  
    .fa {
      font-size: 1.2rem;
      color: #fff;
    }
  
    .nav-link {
      color: #fff;
    }
  
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  
    .btnHeader {
      background: rgb(151, 157, 172);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  
    button:hover {
      opacity: 0.8;
    }
  
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;



    }
    .s3{
        display: block;
    }

    .s3 div{
      height: 30em;
        
    }

    .bordaDiv {
        display: flex;
    }

    #deepmind {
     background-size: 100vw;
     cursor: pointer;
    }

     #deepmind h2  {
     margin-top: 10rem;
     color: #fff;
     background-color: grey;
 
      }

      #ethereum {
        background-size: 100vw;
        cursor: pointer;
       }
   
        #ethereum h2  {
        margin-top: 10rem;
        color: #fff;
        background-color: rgb(187, 16, 202);
    
         }


      #lab {
        background-size: 100vw;
        cursor: pointer;
       }
   
        #lab h2  {
        margin-top: 10rem;
        color: #fff;
        background-color: rgb(245, 222, 12);
    
         }


   
      #ImpossibleFoods {
        background-size: 100vw;
        cursor: pointer;
       }
   
        #ImpossibleFoods h2  {
        margin-top: 10rem;
        color: #22941e;
        background-color: rgb(245, 245, 245);
    
         }

      #Nubank {
        background-size: 100vw;
        cursor: pointer;
       }
   
        #Nubank h2  {
        margin-top: 10rem;
        color: #22941e;
        background-color: rgb(49, 2, 2);
    
         }

   
      
    
  }
  