/*paleta coolors.co/023e7d-002855-001845-000000-33415c-5c677d-7d8597-979dac)*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* background: rgb(151,157,172); */
    background: linear-gradient(90deg, rgba(151,157,172,1) 0%, rgba(51,65,92,1) 76%, rgba(0,24,69,1) 100%);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
  width: 9vw;
  margin-left: 20px;
}

.divImgHeader{
  display: flex;
  gap: 5px;
  align-items: center;
}
.log_news {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa {
  font-size: 1.2rem;
  color: #fff;
}


.nav-link {
  color: #fff;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnHeader {
    background: rgb(151,157,172);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .avatar {
    max-width: 15%;
    max-height: 15%;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: auto;
    border-radius: 0%;
  }


.s1  {
  padding: 2rem;
  background-image: url('imgs/barnes-1.png');
  opacity: 80%;
  color: #fff;
  text-align: center;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}


.carrousel {
  width: 100vw;/* Define a largura do carrossel */
  overflow: hidden;/* Oculta o estouro para que os itens do carrossel não saiam da área visível */
   margin: 0 auto;/* Centraliza o carrossel horizontalmente */
   position: relative;/* Posiciona o carrossel relativamente para que os botões "Anterior" e "Próximo" possam ser posicionados absolutamente em relação a ele */
}


.carrousel-inner {
  display: flex;/* Define o layout dos itens do carrossel como flexbox */
  transition: transform 0.6s ease;/* Adiciona uma transição suave ao movimento dos itens do carrossel */
  margin: 0 10rem;
}


.carrousel-item {
  width: 20rem;/* Define a largura de cada item do carrossel */
  height: 90vh;
  flex: 0 0 auto;/* Define o tamanho flexível dos itens do carrossel para que eles se ajustem ao espaço disponível */
  margin: 10px;/* Adiciona margem aos itens do carrossel */
  background-color: #ccc;/* Define a cor de fundo dos itens do carrossel */
  text-align: center;/* Centraliza o texto dentro dos itens do carrossel */
}

.carrousel-item:hover{
  border: solid 1px black;
  opacity: 95%;
}

.carrousel-item p {
margin-top: 20px;
}
.btn {
  cursor: pointer;/* Define o cursor do mouse como ponteiro para os botões "Anterior" e "Próximo" */
  position: absolute;/* Posiciona os botões "Anterior" e "Próximo" absolutamente em relação ao carrossel */
  top: 50%;/* Centraliza os botões "Anterior" e "Próximo" verticalmente dentro do carrossel */
  transform: translateY(-50%);
  background: transparent;/* Remove o estilo padrão dos botões */
  border: none;/* Remove o estilo padrão dos botões */
  border-radius: 100%;
  font-size: 30px;/* Define o tamanho da fonte dos botões "Anterior" e "Próximo" */
}
.btn:hover{
  background-color: rgba(128, 128, 128, 0.473);
}
/* Posiciona o botão "Anterior" à esquerda do carrossel */
.btn-prev {
  left: 1%;
  padding: 1px 12px;
}

/* Posiciona o botão "Próximo" à direita do carrossel */
.btn-next {
  right: 1%;
  padding: 1px 12px;
}


.imgDiv{
  max-width: 100%;
  height: 40%;
  margin-bottom: 10px;
}

.s3 {
  display: flex;
}

.bordaDiv{
  flex: 1;
  background-size: cover;
  color: rgb(250, 6, 6);
  background-color: #31018a;
  padding: 1rem;
  transition: flex 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60vh;
}

.titulo {
  z-index: 1;
  position: left;
  margin-bottom: -34%;
  margin-left: 5%;
}
#deepmind{
  background-image: url(imgs/deepmind.jpg);
  background-size: 20vw;
  background-position: relative;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}


#ethereum{
  background-image: url(imgs/ethereum.jpg);
  background-size: 20vw;
  background-position: relative;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}

#lab{
  background-image: url(imgs/3dlab.jpg);
  background-size: 20vw;
  background-position: relative;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}

#ImpossibleFoods{
  background-image: url(imgs/);
  background-size: 20vw;
  background-position: relative;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}




.conteudoDiv {
  display: none;
  z-index: 1; 
  margin-top: 10%;
  margin-left: 15px;
}



.visible {
  display: block;
}
.rodape{
  background: linear-gradient(90deg, rgba(151,157,172,1) 0%, rgba(51,65,92,1) 76%, rgba(0,24,69,1) 100%);
  padding: 2%;

}
.rodape ul{
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
}
.rodape a{
  color: white;
  text-decoration: none;
  font-size: 2em;
}